<div class="filter-containter row">
    <div class="col-5">
        <div class="col-6">
            <span class="info-title">Sprawdź szczegóły filtra <i class="fas fa-info-circle"></i></span>

            <form [formGroup]="ipForm">
                <div class="form-group">
                    <label for="ip">Adres IP</label>
                    <input class="form-control" id="ip" placeholder="Podaj adres IP do pingowania" formControlName="ip">
                </div>
                <div class="form-group">
                    <label for="amount">Ilość pomiarów</label>
                    <input class="form-control" id="amount" placeholder="Podaj liczbę pomiarów"
                        formControlName="amount">
                </div>
                <div class="form-group">
                    <label for="interfaces">Interfejs</label>
                    <select class="form-control" id="interfaces" formControlName="interface">
                        <option *ngFor="let interface of _filter.networkInterfaces">{{interface}}</option>
                    </select>
                </div>
            </form>
            <div class="form-group" style="display: flex; justify-content: center; margin-top: 15px;">
                <div (click)="subscribeIpResults()" class="start">
                    <span class="content">
                        <span *ngIf="!loading">START</span>
                        <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin fa-2x"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!ipData.length" class="info-title center col-5">
        Skonfiguruj i uruchom filtr, aby wyświetlić wyniki!
    </div>

    <div *ngIf="ipData.length" class="results col-5">
        <div class="results results-scroller col-12">
            <div *ngFor="let res of ipData" class="col-11">
                {{res}}
            </div>
        </div>
        <button class="btn btn-success col-4" style="margin-top: 6px;">Zapisz wyniki do pliku</button>
    </div>
</div>