<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1" style="padding-left: 5px;" routerLink='/'>Analizator sieciowy</span>
  <img src="../assets/PB_logo_poziom.png" height="30" class="d-inline-block align-top" style="padding-right: 5px;"
    alt="">
</nav>

<div class="content col-12">

  <div class="box info-container col-10">
    <div class="box-title col-12">Podstawowe informacje</div>
  </div>

  <div *ngIf="route==='/'; else elseBlock" class="box filters-container col-10">
    <div class="box-title col-12">Filtry sieciowe</div>
    <div *ngFor="let filter of _filter.availableFilters" class="col-3 filter">
      <div (click)="openFilter(filter.route)" class="filter-details">
        <div class="icon">
          <i class="fas fa-ethernet fa-3x"></i>
        </div>
        <div class="description">
          {{filter.name}}
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="box filters-container col-10">
      <div class="box-title col-12">Filtry sieciowe</div>
      <div class="col-12" style="height: inherit;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>

</div>