.filters-container {
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-container {
  height: 20vh;
}

.filters-container .filter {
  padding: 15px;
  margin: 10px;
  border: 2px inset #b6b6b671;

  display: block;
  text-align: center;
  height: 40%;
  position: relative;
}

.filters-container .filter:hover {
  background-color: #012404;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filter .filter-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(68, 68, 68);
}

.box-title {
  font-size: 17px;
  height: 25px;
  padding: 0 5px 0 5px;
  color: #ffffff;
  background-color: #066b1086;
}
