<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1" routerLink='/'>Analizator sieciowy</span>
  <img src="../assets/PB_logo_poziom.png" height="30" class="d-inline-block align-top" style="padding-right: 5px;"
    alt="">
</nav>

<div class="content col-12">

  <div class="box col-10">
    <div class="box-title col-12">Podstawowe informacje</div>
    <div class="info-container-loading" *ngIf="loading">
      <span><i class="fas fa-circle-notch fa-spin fa-2x"></i></span>
      <span style="color: #dfdfdf70;">Trwa wczytywanie danych...</span>
    </div>

    <div *ngIf="!loading" class="info-container">
      <div class="info-type">
        <span class="info-title">Znalezione interfejsy sieciowe:</span>
        <div *ngFor="let interface of _filter.networkInterfaces">
          {{interface}}
        </div>
      </div>

      <div class="info-type">
        <span class="info-title">Dodatkowe informacje:</span>
        <div *ngFor="let info of configResults">
          {{info}}
        </div>
      </div>

      <div class="info-type">
        <span class="info-title">Parametry:</span>
        <div *ngFor="let result of nmapResults">
          {{result}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="route==='/'; else elseBlock" class="box filters-container col-10">
    <div class="box-title col-12">Filtry sieciowe</div>
    <div *ngFor="let filter of _filter.availableFilters" class="col-3 filter">
      <div (click)="openFilter(filter.route)" class="filter-details">
        <div class="icon">
          <i class="fas fa-ethernet fa-3x"></i>
        </div>
        <div class="description">
          {{filter.name}}
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="box filters-container col-10">
      <div class="box-title col-12">Filtry sieciowe</div>
      <div class="col-12" style="height: inherit;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>

</div>