<div class="filter-containter adjust row">
    <div class="col-5">
        <div class="col-6">
            <form [formGroup]="pingerForm">
                <div class="form-group">
                    <label for="ip">Host</label>
                    <input class="form-control" id="ip" placeholder="Podaj host do pingowania" formControlName="ip">
                    <small class="form-text text-muted">Np. www.google.pl, 192.168.0.1</small>
                </div>
                <div class="form-group">
                    <label for="amount">Ilość pomiarów</label>
                    <input class="form-control" id="amount" placeholder="Podaj liczbę pomiarów"
                        formControlName="amount">
                </div>
            </form>
            <div class="form-group" style="display: flex; justify-content: center; margin-top: 15px;">
                <div (click)="subscribePingerResults()" class="start">
                    <span class="content">
                        <span *ngIf="!loading">START</span>
                        <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin fa-2x"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5" style="text-align: center;">
        <div class="col-11">
            <div class="results results-scroller">                
                <span *ngFor="let result of pingerData">
                    {{result}}
                </span>
            </div>
        </div>
       
        <button [disabled]="!pingerData.length" (click)="_filter.saveResultsToFile(pingerData, 'pinger')" class="btn btn-success" style="margin-top: 6px;">
            Zapisz wyniki do pliku
        </button>
    </div>
    <div #chart *ngIf="isChartReady" class="col-11 chart-wrapper">
        <canvas baseChart 
            [datasets]="chartParams.lineChartData" 
            [labels]="chartParams.lineChartLabels" 
            [options]="chartParams.lineChartOptions"
            [colors]="chartParams.lineChartColors" 
            [legend]="chartParams.lineChartLegend" 
            [chartType]="chartParams.lineChartType">
        </canvas>
    </div>
</div>
