<div class="filter-containter row">
    <div class="col-5">
        <div class="col-6">
            <form [formGroup]="trafficForm">
                <div class="form-group">
                    <label for="amount">Ilość pomiarów</label>
                    <input class="form-control" id="amount" placeholder="Podaj ilość pomiarów" formControlName="amount">
                </div>
                <div class="form-group">
                    <label for="interfaces">Interfejs</label>
                    <select class="form-control" id="interfaces" formControlName="interface">
                        <option *ngFor="let interface of _filter.networkInterfaces">{{interface}}</option>
                    </select>
                </div>
            </form>
            <div class="form-group" style="display: flex; justify-content: center; margin-top: 15px;">
                <div (click)="subscribeTrafficFilterResults()" class="start">
                    <span class="content">
                        <span *ngIf="!loading">START</span>
                        <span *ngIf="loading"><i class="fas fa-circle-notch fa-spin fa-2x"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="results col-5">
        <div class="col-11">
            <textarea style="width: 100%;" placeholder="Uruchom filtr aby wyświetlić wyniki"
                disabled>{{trafficArray}}</textarea>
        </div>
        <button [disabled]="!trafficArray.length" (click)="_filter.saveResultsToFile(trafficArray, 'traffic')" class="btn btn-success col-4">Zapisz wyniki do pliku</button>
    </div>
</div>